* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

  h1 {
    color: #426696;
    font-weight: 400;
    font-size: 3rem;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 10px;
  }
  h2,
  p {
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
  }

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  display: flex;
  align-items: center;
  justify-content: center;
  }
.container {
  width: 700px;
  margin: 40px auto;
  }
.card-glass {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}

.card-glass h2 {
  font-size: 25px;
}

img {
  border-radius: 50%;
  margin-bottom: 25px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 5%);
}

.button-glass {
  background: linear-gradient(to right top, #3fc0a8, #5edcf0);
  border-radius: 5px;
  color: white;
  padding: 10px 30px;
  text-decoration: none;
}
.button-glass:hover {
  background: linear-gradient(to right top, #2e685d, #3f94a1);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  padding: 10px 30px;
  text-decoration: none;
}

#profil p {
  margin-bottom: 40px;
  color: #3165aa;
  font-size: 17px;
}

.card-glass:hover {
  background: white;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  backdrop-filter: blur(2rem);
  padding: 40px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
}


.fab {
  font-size: 40px;
  color: #426696;
  padding: 10px;
}
.fab:hover {
  font-size: 40px;
  color: #587294;
  padding: 10px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

